@charset "UTF-8";

#wrap {
	@include position(relative);
	@include flex(flex, column);
	height: 100dvh;
}
#contents {
	flex: 1 1;
	overflow-y: auto;
}
.modal-open {
	overflow: hidden;
}

.nav-bottom {
	flex: none;
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	background: {
		color: var(--primary-blue);
	}
	ul {
		@include flex(flex);
	}
	li {
		@include flex(flex, null, null, center, null, null, center);
		flex: 1 1;
		button {
			@include flex(flex, column, null, center, null, null, center);
			row-gap: 6px;
			flex: 1 1;
			padding: 12px 0;
			.ti {
				font: {
					size: var(--fs-black);
				}
			}
			span {
				font: {
					size: var(--fs-small);
					weight: var(--fw-medium)
				}
			}
			&[aria-checked="true"] {
				color: var(--c-white);
			}
			&[aria-checked="false"] {
				color: rgba(var(--c-white-rgb), 50%);
			}
		}
	}
}
