@charset "UTF-8";

.btn-modal-mo-close {
	margin: 6px auto 0;
	width: 32px;
	height: 3px;
	border-radius: 3px;
	background-color: var(--c-gray-6);
}

.modal {
	&[data-type="bottom"] {
		@include position(fixed, 0, null, 0, null, 100);
		--btn-modal-height: 48px;
		display: none;
		width: 100%;
		max-width: var(--body-max-width);
		align-items: flex-end;
		&:before {
			@include position(absolute, 0, 0, 0, 0, 0);
			content: "";
			background: {
				color: rgba(var(--c-black-rgb), 40%);
			}
		}
		.modal-header {
			@include position(relative);
			@include flex(flex, null, null, center, null, null, center);
			height: 53px;
			border-block-end: 1px solid var(--border-default);
			.title {
				color: var(--c-black);
				font: {
					size: var(--fs-extra);
					weight: var(--fw-medium);
				}
			}
			.btn-modal-close {
				@include position(absolute, 50%, 14px, null, null, null, null, -50%);
				@include flex(inline-flex, null, null, center, null, null, center);
				flex: none;
				width: 32px;
				height: 32px;
				&:before {
					content: "\eb55";
					font: {
						size: 24px;
					}
				}
			}
		}
		.modal-contents {
			@include position(relative, null, null, null, null, 1);
			width: 100%;
			transform: translateY(100%);
			border: {
				radius: 12px 12px 0 0;
			}
			background: {
				color: var(--c-white);
			}
																																}
		.modal-footer {
			@include flex(flex, null, null, center);
			padding: 20px 20px calc(20px + env(safe-area-inset-bottom)) 20px;
			gap: 10px;
		}
		.btn-modal {
			@include flex(flex, null, null, center, null, null, center);
			flex: 1 1;
			height: var(--btn-modal-height);
			font: {
				size: var(--fs-medium);
				weight: var(--fw-semi);
			}
			&.reset {
				@include border(all, 1px, solid, var(--c-gray-5), var(--rd-medium));
				color: var(--c-gray-3);
			}
			&.apply {
				@include border(all, 1px, solid, null, var(--rd-medium));
				// &:before {
				// 	flex: none;
				// 	content: "\ea5e";
				// 	margin-right: 4px;
				// }
				&:not(:disabled) {
					color: var(--c-white);
					background: {
						color: var(--primary-blue);
					}
				}
				&:disabled {
					color: var(--c-gray-5);
					background: {
						color: var(--default-bg);
					}
				}
			}
		}
	}
}

.modal-filter-list {
	dt {
		padding: 0 20px;
		font: {
			weight: var(--fw-medium);
		}
	}
	+ .modal-filter-list {
		@include border(top, 1px, dashed, var(--c-gray-6));
	}
}
